@{
    ViewData["Title"] = "ZBUSS";
}

<div align="center">
    <img src="~/imagenes/bus1.png" />
</div>
    <div>
        <div class="card w-100">
            <div class="card-body">
                <h5 class="card-title text-center text-body">TÉRMINOS Y CONDICIONES DEL CONTRATO DE VIAJE</h5>
                <p class="card-text bg-success text-warning">
                    Condiciones de Uso para Compras en la Tienda Virtual.
                </p>
                <p>
                    La compra de pasajes mediante nuestra tienda virtual considera las siguientes condiciones para personas naturales y jurídicas:
                </p>
                <p>
                    1. Se podrá comprar utilizando los siguientes medios de pago: Visa, MasterCard a nivel nacional.
                </p>
                <p>
                    2. Los usuarios deben contar con un correo electrónico, el cual será confirmado mediante un enlace de validación, además de un número telefónico para establecer comunicación de ser necesario.
                </p>
                <p>
                    3. Las compras en línea solo podrán realizarse para los destinos que se muestran en nuestra tienda virtual.
                </p>
                <p>
                    4. Las butacas seleccionadas desde nuestra tienda virtual en el proceso de compra son reservadas automáticamente y no podrán ser elegidas por otro cliente, por el tiempo de 10 minutos.
                </p>
                <p>
                    5. Posterior a la compra, el cliente recibirá un correo electrónico con el documento electrónico generado incluyendo los datos de la compra, el cual deberá ser impreso presentado en el
                    terminal para el embarque. EN CASO NO RECIBIRLO DEBERÁ COMUNICARSE AL TELÉFONO (511) 987 589 635 O ESCRIBIR A LA CUENTA DE CORREO zbuss.business@gmail.com INDICANDO LOS DATOS DEL VIAJE
                    Y DE SER POSIBLE UN NUMERO TELEFONICO PARA COMUNICARNOS CON USTED.
                </p>
                <p>
                    6. La compra debe ser realizada en nuevos soles.
                </p>
                <p class="card-text bg-success text-warning">
                    Condiciones Generales del Contrato de Viaje.
                </p>

                <p>
                    1.  El Boleto de Viaje es personal y transferible, conforme a ley, siendo el único comprobante válido para a viajar, en la fecha y hora impresa.
                </p>
                <p>
                    2. El Pasajero es responsable de verificar los datos consignados en el Boleto de Viaje, al momento de adquirirlo. Se aceptarán reclamos en forma presencial, hasta 6 horas antes,
                    y en forma virtual hasta 24 horas antes, de la hora del viaje impresa en el boleto. Si es necesario emitir un nuevo comprobante, el pasajero asume el costo de emisión.
                </p>
                <p>
                    3. En caso de pérdida del boleto el Pasajero podrá pedir un duplicado, previo pago del gasto administrativo.
                </p>
                <p>
                    4. El embarque y desembarque de pasajeros solo se realizará en los Terminales o Estaciones autorizadas.
                </p>
                <p>
                    5. El Pasajero deberá presentarse 45 minutos antes de la hora de salida del Bus, para entregar su equipaje y una hora antes para canjear su e-ticket. Una vez salido
                    el Bus no habrá lugar a postergación, ni devolución de dinero.
                </p>
                <p>
                    6. La hora de Embarque en las escalas es referencial; Considerando que el Bus se encuentra en tránsito y está sujeto a factores ajenos a ZBUSS.
                </p>
                <p>
                    7. En el embarque, el Pasajero deberá presentar su Boleto de Viaje y doc. de identidad. Los menores deberán viajar acompañados de sus padres o
                    con permiso notarial. Caso contrario, no podrán viajar y perderán el valor de su Boleto de Viaje.
                </p>
                <p>
                    8. Se aceptarán cambios y postergaciones, en forma presencial, hasta 6 horas antes, y en forma virtual hasta 24 horas antes, de la hora del viaje, previo reintegro en caso de incremento de la tarifa.
                </p>
                <p>
                    9. El pasaje se podrá postergar de acuerdo a Ley, y solo podrá ser empleado en las mismas condiciones pactadas.
                </p>
                <p>
                    10. El pasajero tiene derecho a 20 kilos de equipaje (maletas, maletines o similares). El exceso será admitido cuando la capacidad del ómnibus lo permita, previo pago de la tarifa vigente.
                    La Empresa no se responsabiliza por objetos de valor no declarados en el embarque y transportados como equipaje. La pérdida, daño parcial o total del equipaje en bodega será cubierto en la
                    forma prevista en el Reglamento Nacional de Administración de Transportes.
                </p>
                <p>
                    11. ZBUSS no se responsabiliza por la pérdida de equipajes y efectos personales en la cabina de pasajeros. Su cuidado es de exclusiva responsabilidad del Pasajero.
                </p>
                <p>
                    12. La empresa se reserva el derecho de trasladar a la bodega del vehículo equipaje u objetos que el pasajero pretenda llevar en el salón del bus.
                </p>
                <p>
                    13. El Pasajero no podrá portar armas u objetos prohibidos por Ley; que puedan poner en riesgo la seguridad de los pasajeros. Los Pasajeros con Licencia de la DICSCAMEC,
                    deberán brindar la facilidad para que el arma sea descargada, embalada y enviada en la cabina de tripulante.
                </p>
                <p>
                    14. El Pasajero no podrá viajar bajo la influencia de alcohol y/o estupefacientes; o cuando su estado de salud visiblemente no sea adecuado para viajar
                    (salvo presentación de un certificado médico), perdiendo el valor de su Pasaje.
                </p>
                <p>
                    15. El retraso en el servicio generado por caso fortuito o fuerza mayor, no genera responsabilidad a la Empresa por los daños o perjuicios que estas demoras puedan ocasionar al pasajero.
                </p>
                <p>
                    16. ZBUSS no se responsabiliza por falla o interrupción en la prestación de beneficios adicionales (internet a bordo, tomacorriente, pantalla táctil u otros) otorgada en calidad de
                    cortesía, distinta al servicio contratado.
                </p>
                <p>
                    17. No está permitido transportar en bodega y/o cabina, animales, armas, explosivos, inflamables, químicos y sustancias que pongan en peligro la seguridad de los pasajeros.
                </p>
                <p>
                    18. Por medidas de seguridad, el Pasajero deberá brindar las facilidades al personal de seguridad para su revisión y de su equipaje de mano.
                </p>
                <p>
                    19. ZBUSS no otorgará devoluciones de dinero, sólo postergaciones de acuerdo a las condiciones previas.
                </p>
                <p>
                    20. El pasajero cuenta con la cobertura de la póliza de seguro obligatorio (SOAT) contratada por la Empresa.
                </p>
                <p>
                    21. El Pasajero y ZBUSS convienen en que las desavenencias serán resueltas de conformidad con los reglamentos del Centro de Conciliación y Arbitraje Nacional e Internacional de la Cámara de Comercio de Lima.
                </p>

                <p class="card-text bg-success text-warning">
                    Políticas de Protección de datos.
                </p>
                <p>
                    1. ZBUSS, en su condición de titular y encargada del banco de datos personales, no traspasará, bajo ninguna modalidad y a ninguna empresa que no pertenezca ZBUSS, los datos personales registrados en este site,
                    salvo que una autoridad administrativa y/o judicial lo requiera. La información recabada será tratada en forma estrictamente confidencial y estará sujeta a estrictas medidas de seguridad, conforme lo dispone la
                    Ley No. 29733, Ley de Protección de Datos Personales y el Decreto Supremo No. 3- 2013-JUS, Reglamento de la Ley de Protección de Datos Personales.
                </p>
                <p>
                    2. Políticas de Privacidad eCommerce : nuestra página web  recopilan el correo electrónico y el numero de celular solo con el fin de poder enviarle sus facturas y notificaciones de compra.
                </p>
                <p>
                    3. Cuentas de Acceso y Datos Recolectados : Nuestros usuarios tendrán el derecho de revisar o eliminar las cuentas de acceso y/o datos recolectados no vinculados a la facturación. También podrá solicitar
                    un resumen de los datos recolectados, su modificación o eliminación enviándonos un correo electrónico a zbuss.business@gmail.com Sírvanse incluir una copia de su documento de identidad para ayudarnos a
                    impedir que personas no autorizadas accedan a sus datos personales.
                </p>


                @* <a href="#" class="btn btn-primary">Button</a>*@
            </div>
        </div>

        <p>
            <br />
            <br />



        </p>
    </div>
