@model Zbuss_Proyect.Models.TbUsuarios

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    body {
        background: #ffffff;
        background: linear-gradient(to right, #ffffff, #ffffff)
    }
    .bg {
        background-image: url(http://www.turismoenperu.com/imagi/playa-mancora-00.jpg);
        background-position: center center
    }
</style>
<br />
<div class="container w-75 bg-primary mt-5 rounded shadow">
    <div class="row align-items-stretch">
        <div class="col bg d-none d-lg-block col-md-5 col-lg-5 col-xl-6 rounded">
            <div>

            </div>
        </div>
        <div class="col bg-white p-5 rounded-end">
            <div class="text-end">
                <img src="~/imagenes/bus1.png", width="100" alt=""/>
            </div>
            <h2 class="fw-bold text-center py-5">Iniciar sesión con un correo electrónico</h2>
            <form class="mx-auto" asp-action="Login">
                
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="mb-4">
                    <label asp-for="Correo" class="control-label">Correo</label>
                    <input asp-for="Correo" class="form-control" />
                    <span asp-validation-for="Correo" class="text-danger"></span>
                </div>
                <div class="mb-4">
                    <label asp-for="Contrasena" class="control-label">Contraseña</label>
                    <input asp-for="Contrasena" class="form-control" />
                    <span asp-validation-for="Contrasena" class="text-danger"></span>
                </div>
                <div class="text-danger">
                    @ViewBag.mensaje
                </div>
                <div class="d-grid">
                    <input type="submit" value="Iniciar Sesión" class="btn btn-primary" />
                    
                </div>
                <div class="my-3">
                    <a asp-action="Create">Registrarse gratis</a> <br/>
                    <a asp-action="Restablecer">Has olvidado tu contraseña?</a>
                </div>
                
            </form>
        </div>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
