@model Zbuss_Proyect.Models.TbAsientosBus

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>TbAsientosBus</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idasiento" />
            <div class="form-group">
                <label asp-for="Idbus" class="control-label"></label>
                <input asp-for="Idbus" class="form-control" asp-items="ViewBag.Idbus" readonly />
                <span asp-validation-for="Idbus" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CodAsiento" class="control-label"></label>
                <input asp-for="CodAsiento" class="form-control" readonly/>
                <span asp-validation-for="CodAsiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Inclinacion" class="control-label"></label>
                <input asp-for="Inclinacion" class="form-control" />
                <span asp-validation-for="Inclinacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PisoBus" class="control-label"></label>
                <input asp-for="PisoBus" class="form-control" readonly/>
                <span asp-validation-for="PisoBus" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Actualizar asiento" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="AsientosIndex" asp-route-id="@Model.Idbus">Regresar a la lista</a>
</div>

