
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/css/bus.css" />
@if (ViewBag.Alert != null)
{
    <div class="alert alert-warning alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">X</button>
        <h2><i class="bi bi-exclamation-triangle-fill"></i> Alerta!</h2>
        @ViewBag.Alert
    </div>
}

<h1>Asientos</h1>
<div id="precio">
</div>
<div class="row justify-content-start">
    <div class="container col-8">
        <h1>Elige tu asiento</h1>
        <div class="row justify-content-center" id="buttonsA">
        </div>
    </div>
    <div class="container col-4 shadow-sm">
        <h1>Datos del asiento</h1>
        <h3 class="font-weight-bold">Código A.</h3>
        Asiento Nro <span id="txtCodigoA">0</span>
        <h3 class="font-weight-bold">Precio</h3>
        S/.<span id="txtPrecio">0</span>
        <h3 class="font-weight-bold">Inclinación</h3>
        <span id="txtInclinacion">0</span> Grados
        <h3 class="font-weight-bold">Nro. del piso</h3>
        <span id="txtPiso">0</span> Piso
        <br />
        <br />
        <br />
        <input class="btn btn-success" type="button" value="Proceder a comprar" onclick="compraAsiento()" />
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    var id = localStorage.getItem("codBus");
    var VG_RUTA_SERVIDOR = "";
    var asientos = "";
    var idAsiento = "";
    var precioAsiento = "";
    var codAsiento = "";
    var igv = 0;
    var total = 0;

    function compraAsiento() {
        localStorage.setItem("idAsi", idAsiento);
        localStorage.setItem("precioAsi", precioAsiento);
        localStorage.setItem("codAsi", codAsiento);
        localStorage.setItem("Igv", igv);
        localStorage.setItem("Total", total);
        window.location = "@Url.Action("Create","Pasajero")";
    }

    function mostrarInfo(id) {
        idAsiento = asientos[id].idasiento;
        precioAsiento = asientos[id].precio;
        codAsiento = asientos[id].codAsiento;
        igv = precioAsiento * 0.18;
        total = precioAsiento + igv;

        $('#txtCodigoA').text(codAsiento);
        $('#txtPrecio').text(precioAsiento);
        $('#txtInclinacion').text(asientos[id].inclinacion);
        $('#txtPiso').text(asientos[id].pisoBus);
    }
    $(document).ready(function () {
        $.ajax
            ({
                type: "POST",
                url: "/Asientos/SeleccionAsientos",
                data: { id },
                dataType: "json",
                success: function (result) {
                    if (result == null) {
                        alert("No se han encontrado asientos asignados a este bus. Pruebe con otro viaje");
                        location.href = "https://localhost:44326/ViajesUser";
                    }

                    console.log(result);

                    var html = "";
                    asientos = result;
                    for (var i in result) {
                        console.log(i);
                        if (asientos[i].estado == false) {
                            html += "<input type='button' value='" + result[i].codAsiento + "' class='col-1 btn btn-secondary' onclick='mostrarInfo(" + i + ")' disabled/>"
                        }
                        else {
                            html += "<input type='button' value='" + result[i].codAsiento + "' class='col-1 btn btn-secondary' onclick='mostrarInfo(" + i + ")'/>"
                        }
                    }
                    $('#buttonsA').html(html);
                },
                error: function (result) {
                    alert("ERROR al cargar los asientos");
                    window.top.location.href = VG_RUTA_SERVIDOR + "ViajesUser/Index";
                }
            })
    })
</script>

