@model Zbuss_Proyect.Models.TbPasajero

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>TbPasajero</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Iduser" />
            <div class="form-group">
                <label asp-for="TpoDocumento" class="control-label"></label>
                <input asp-for="TpoDocumento" class="form-control" />
                <span asp-validation-for="TpoDocumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NroDocumento" class="control-label"></label>
                <input asp-for="NroDocumento" class="form-control" />
                <span asp-validation-for="NroDocumento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApePaterno" class="control-label"></label>
                <input asp-for="ApePaterno" class="form-control" />
                <span asp-validation-for="ApePaterno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApeMaterno" class="control-label"></label>
                <input asp-for="ApeMaterno" class="form-control" />
                <span asp-validation-for="ApeMaterno" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Celular" class="control-label"></label>
                <input asp-for="Celular" class="form-control" />
                <span asp-validation-for="Celular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sexo" class="control-label"></label>
                <input asp-for="Sexo" class="form-control" />
                <span asp-validation-for="Sexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaNac" class="control-label"></label>
                <input asp-for="FechaNac" class="form-control" />
                <span asp-validation-for="FechaNac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estado" class="control-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Reservas" asp-controller="Ventas">Regresar a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
